[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/lib/frame-verifier"]
	path = contracts/lib/frame-verifier
	url = https://github.com/wilsoncusack/frame-verifier
[submodule "contracts/lib/account-abstraction"]
	path = contracts/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/lib/openzeppelin-latest"]
	path = contracts/lib/openzeppelin-latest
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
